.footer {
  @include defaultDarkSectionStyles;

  &__holder {
    @include defaultHolderStyles;

    align-items: center;
  }

  &__logo {
    width: 10rem;
  }

  &__navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }

  &--navItem {
    text-transform: uppercase;
  }
}
