.footer {
  @include defaultDarkSectionStyles;

  font-size: 1.2rem;

  &__holder {
    @include defaultHolderStyles;

    align-items: center;

    @include respond(desktop) {
      @include responsivePagePadding;
    }
  }

  &__logo {
    width: 10rem;
  }

  &__navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;

    @include respond(tab-land) {
      gap: 2rem;
    }

    @include respond(phone) {
      gap: 1rem;
    }
  }

  &--navItem {
    text-transform: uppercase;
  }
}
