.btn {
  &:link,
  &:visited {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: $borderRadiusSmall;
    transition: transform 0.3s;
  }

  &:hover {
    transform: translateY(-0.3rem);
  }

  &:active {
    transform: translateY(-0.1rem);
  }

  &--light {
    background-color: $colorPrimaryLight;
    color: $colorPrimaryDark;
  }

  &--dark {
    background-color: $colorPrimaryDark;
    color: $colorPrimaryLight;
  }

  &--headerNav {
    text-transform: uppercase;
  }
}
