.card {
  max-width: 30rem;
  border-radius: $borderRadiusMedium;
  padding: 4rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  &__pictureHolder {
    width: 50%;
    margin: 0 auto;

    .card__picture {
      display: block;
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    & .cardHeading {
      text-align: center;
    }
  }

  &__action {
    margin-top: auto;
    align-self: center;
  }

  &--light {
    background-color: $colorPrimaryLight;
  }

  &--dark {
    background-color: $colorPrimaryDark;
  }
}

.projectCard {
  max-width: 45%;
  padding: 3rem;
  border-radius: $borderRadiusMedium;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    & .projectCardHeading {
      text-align: center;
    }
  }

  &__tagsHolder {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__actions {
    display: flex;
    gap: 2rem;
    margin-top: auto;

    span {
      display: inline-block;
    }
  }

  &--dark {
    background-color: $colorPrimaryDark;
  }

  &--light {
    background-color: $colorPrimaryLight;
  }
}

.progressCard {
  width: 25%;
  padding: 3rem;
  border-radius: $borderRadiusMedium;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__progressList {
    list-style: none;
  }

  &__progressItem {
    padding: 0.5rem 1rem;

    &:not(:last-child) {
      border-bottom: 0.1rem solid #888;
    }
  }

  &__action {
    margin-top: auto;
    align-self: center;
  }

  &--dark {
    background-color: $colorPrimaryDark;
  }

  &--light {
    background-color: $colorPrimaryLight;
  }
}

.knowledgebase__item {
  &:link,
  &:visited {
    border-radius: $borderRadiusSmall;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 4rem;
    transition: transform 0.3s;
  }

  &:hover {
    transform: translateY(-0.3rem);
  }

  &:active {
    transform: translateY(-0.1rem);
  }

  &--dark {
    background-color: $colorPrimaryDark;
    color: $colorPrimaryLight;
    border: 0.1rem solid $colorPrimaryLight;
  }

  &--light {
    color: $colorPrimaryDark;
    border: 0.1rem solid $colorPrimaryDark;
  }
}
